# Flask session files
flask_session/

# Modules and extra data files
modules/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/


#git rm -r --cached flask_session //use this command to remove anything accidently pushed through git