<!DOCTYPE html>
<html lang="en">
<head>
    <title> percentle </title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <header>
        <img src="../static/images/title.png" alt="Percentle %" width="25%" class ="center"/>
    </header>
    <h2 id="category">Countries</h2>
    <h3 class="red_header" id="daily_letter">Letter: A</h3>
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <br>    
    <form id="countries_guess" class="center">  
        <label class="text" for="guess">Guess:</label>
        <input type="text" id="guess" name="guess"> 
        <input type="submit" value="Submit" class="text">
    </form>  
</body>
</html>